div {
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 420px) {
    div {
        background-color: gray;
    }

    h2:after {
        content: "Cinza";
    }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
    div {
        background-color: orange;
    }

    h2:after {
        content: "Laranja";
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div {
        background-color: pink;
    }

    h2:after {
        content: "Rosa";
    }
}

@media screen and (min-width: 1025px) and (max-width: 1080px) {
    div {
        background-color: red;
    }

    h2:after {
        content: "Vermelho";
    }
}

@media screen and (min-width: 1081px) and (max-width: 1366px) {
    div {
        background-color: purple;
    }

    h2:after {
        content: "Roxo";
    }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    div {
        background-color: yellow;
    }

    h2:after {
        content: "Amarelo";
    }
}

@media screen and (min-width: 1921px) {
    div {
        background-color: green;
    }

    h2:after {
        content: "Verde";
    }
}